@config "../tailwind.config.ts";
@import "tailwindcss";
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin; /* Firefox */
  }
}

/* Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

/* опционально hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
